/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #f2f2f2; /*off-white*/

	/*default font*/
	font-family: 'Merriweather', sans-serif;
}

/*target the html element called body */
/* start body*/

body{
	/*background-color: skyblue;*/
	/*background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),url('../images/bg1.jpg');*/
	background-image: linear-gradient(to bottom, rgba(0, 181, 204, 0.52), rgba(117, 19, 93, 0.73)),url(https://media.giphy.com/media/S99cgkURVO62qemEKM/giphy.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
	/*viewport height is the height of the screen*/
	height:100vh;
}
/* end body*/



/* start container class*/
.container{
	width: 500px;
	margin: 0 auto; /*this centers the elemen horizontally*/
	text-align: center;

}

/* end container class*/



/* start h1 */


h1{
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 5px;
	background-color: #333; /*off-black*/
	font-family: 'Montserrat', sans-serif;
}

/* end h1*/

/* start h2 */

h2{
	color:yellow;
	text-transform: 5px;
	margin-bottom: 15px;
	background-color: #333; /*off-black*/
	border-radius: 10px;
	/* padding vs margin */
	/*margin:10px;*/ /*adds space outside  the element*/
	padding: 10px; /*add space inside the element*/

}

/* end h2 */

/*target the element with the class bio */

.bio{
	font-size: 18px;
	/*multiplied to the current line height*/
	line-height: 1.75;
	background-color: rgba(51,51,51, 0.5); 

	/*background-color: rgb(51,51,51);
	opacity: 0.5;*/
}
/* ends bio*/

/* targets the element with the id me */
#me{
	height: 200px;
	width:200px;
	border-radius: 50%;
	border-color: indianred;
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 20px;
}

/*end of id me */
